.buttons {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear,
.delete {
  margin: top 10px;
  width: 75px;
  align-items: space-between;
}

.result {
  text-align: center;
  height: 55px;
  width: 212.02px;
  border: 2px solid black;
  text-align: ;
}
button {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}
